body{
    background-color: beige;
}

.flex-container{
  display: flex;
}

.flex-container-total{
    display: flex;
    flex-direction: row-reverse;
}

.caja{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 50%;
    margin: 5px;
}